<div class='alert alert-info' ng-show='message'>{{ message }}</div>
<div class='toinvite' ng-hide='inviting &amp;&amp; !loading'>
  <div class='causeChosen' ng-show='loan'>
    <a class='btn btn-large btn-default active' ng-click='open()' ng-show='selectedCount'>Invite my {{ selectedCount }} friends to contribute</a>
  </div>
  <div class='none' ng-hide='loans'>No loans available right now, try again later.</div>
  <div class='recipient' ng-show='page &amp;&amp; loans'>
    <div class='form' role='form'>
      <div class='form-group'>
        <label for='loan'>Choose a loan to sponsor:</label>
        <select id='loan' ng-model='loan' ng-options='l.simple_description for l in loans'></select>
      </div>
    </div>
  </div>
  <div class='friends' ng-show='loan'>
    <div class='form' role='form'>
      <div class='form-group'>
        <input class='form-control' clear-search ng-change='searchByName()' ng-model='search' placeholder='Search by name...'>
      </div>
    </div>
    <span class='alphabet_pager'>
      <span ng-repeat='item in alphabetPagerChunks'>
        <span ng-hide='0 == $index'></span>
        <dd>
          <a ng-click='jump(item.offset)'>{{item.link}}</a>
        </dd>
      </span>
    </span>
    <br>
    <div class='invitees' ng-show='selectedFriends'>
      {{ selectedFriends.length }} friends to be invited
    </div>
    <span class='friend' ng-repeat='friend in page'>
      <img class='profile_picture' ng-class='{ "selected" : friend.selected, "unselected" : !friend.selected }' ng-click='toggle(friend)' ng:src='https://graph.facebook.com/{{friend.id}}/picture'>
    </span>
  </div>
</div>
