<div class='alert alert-info' ng-show='message'>{{ message }}</div>
<div class='toinvite' ng-hide='inviting &amp;&amp; !loading'>
  Choose a loan recipient:
  <select ng-model='loan' ng-options='l.simple_description for l in loans'></select>
  <div class='causeChosen' ng-show='loan'>
    <a class='btn btn-large btn-default active' ng-click='inviteFriends()' ng-show='selectedCount'>Invite my {{ selectedCount }} friends to contribute to: {{ loan.simple_description }}</a>
    <input clear-search ng-change='searchByName()' ng-model='search' placeholder='Search by name...'>
    <span class='alphabet_pager'>
      <span ng-repeat='item in alphabetPagerChunks'>
        <span ng-hide='0 == $index'></span>
        <dd>
          <a ng-click='jump(item.offset)'>{{item.link}}</a>
        </dd>
      </span>
    </span>
    <br>
    <div class='invitees' ng-show='selectedFriends'>
      {{ selectedFriends.length }} friends to be invited
    </div>
    <span class='friend' ng-repeat='friend in page'>
      <img class='profile_picture' ng-class='{ "selected" : friend.selected, "unselected" : !friend.selected }' ng-click='toggle(friend)' ng:src='https://graph.facebook.com/{{friend.id}}/picture'>
    </span>
  </div>
</div>
