<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    />
  </head>
  <body>
    <h1>Help sponsor a fair payday loans for someone in need</h1>
    <p>
      Will you help me with this loan? Donate bitcoin to help cover it.
    </p>
    <p>
      <a href="<%= @link %>"><%= @link %></a>
    </p>
  </body>
</html>
