<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'
    />
  </head>
  <body>
    <h1>Donation received</h1>
    <p>
      <%= progress %>% of the loan is covered by donations.
    </p>
    <p>
      $<%= amount %> was just donated.
    </p>
  </body>
</html>
