%nav.navbar.navbar-default{ role: 'navigation' }
  .container-fluid
    .navbar-header
      %a.navbar-brand SharkBit
    .navbar.sharkbitnav
      .visible-xs
        %a.dropdown-toggle Options
        %ul.dropdown-menu
          %li 
            %a{ href: '/' } Home
          %li
            %a{ href: '/help' } Help
          %li 
            %a{ href: '/sponsor' } Sponsor
          %li 
            %a{ href: '/donate' } Donate
          %li 
            %a{ href: '/invite' } Invite

      %ul.nav.navbar-nav.hidden-xs
        %li 
          %a{ href: '/' } Home
        %li
          %a{ href: '/help' } Help
        %li 
          %a{ href: '/sponsor' } Sponsor
        %li 
          %a{ href: '/donate' } Donate
        %li 
          %a{ href: '/invite' } Invite

        %li
          - unless @current_user
            %a{ href: '/auth/facebook' } Login
          - else
            %a= @current_user.name
          
        
      
    
