%h4 The truth about payday loan services:

.item
  $7B is spent yearly on payday loans. 
  Contrary to payday loan agency proclamations, after adjusting for control factors, these businesses prey on
  those without college degrees, home renters, African Americans and those earning less than $40,000/yr. Namely, the
  most vulnerable to the current economic malaise. These payday loans don't typically cover short expenses
  term expenses (a few weeks); debtors are indebted for five months out of the year on average, and use the loans 
  for recurring expenses, not unexpected gaps in financial stability. 

  %a{ href: 'http://www.pewstates.org/uploadedFiles/PCS_Assets/2012/Pew_Payday_Lending_Report.pdf' } Read the full story at the Pew Report.

.item 
  Let's use Bitcoin and Coinbase to help people. Bitcoin is an open source peer-to-peer currency. 
  Coinbase has zero transaction fees for bitcoin exchange, which stands in stark contrast to the 
  payday loan companies which charge anywhere from 10% - 20% for cashing a check with 
  rolling interest payments that add up to a much larger percentage of the initial loan. 

.item
  Using Bitcoin and Coinbase, offer to sponsor payday loans and ask the community to help offset risk. 
  Sponsors can elect to release funds for loans from their personal finances once a certain level of 
  sponsorship of the loan has been reached. And, donations come not only with a real financial backing
  but often additionally with an offer for support to the person in need.
