.item
  %strong $7B is spent yearly on payday loans. 
  It's big business.
  After adjusting for control factors, payday loan businesses primarily service
  those without college degrees, home renters, African Americans and those earning less than $40,000/yr. Namely, the
  most vulnerable to economic malaise. These payday loans don't typically cover short 
  term expenses (measured in a few weeks); 
  debtors are indebted for five months out of the year on average, and use the loans 
  for recurring expenses, not unexpected gaps in financial stability. 

  %a{ href: 'http://www.pewstates.org/uploadedFiles/PCS_Assets/2012/Pew_Payday_Lending_Report.pdf' } Read the full story at the Pew Report.

.item 
  Is there an alternative?
  %strong Coinbase
  has zero transaction fees for bitcoin exchange, which stands in stark contrast to the 
  payday loan companies which charge anywhere from 10% - 20% for cashing a check with 
  rolling interest payments that add up to a much larger percentage of the initial loan. 

.item
  Let's crowdsource payday loans using Bitcoin and Coinbase!
  %strong Sponsors on SharkBit
  make payday loans to people in need, but with the full support of others
  in the community who offer guarantees of small portions of the loan paid via bitcoin.
  Sponsors can choose to make the loan only if a certain financial support level has been reached.
  And, donations come not only with a real financial backing but often additionally with 
  an offer for support to the person in need.
  %strong Donors on Sharkbit
  make small loans in bitcoin to help guarantee payday loans. Once a loan has been repaid to the sponsor, the bitcoin
  are returned to the donors. And, in case a payday loan is not repaid, the sponsor is not left with a large
  financial burden themselves.

.item
  Become a sponsor to someone and offer them a payday loan contingent on community financial support. Or, 
  loan your bitcoin to guarantee the payday loan. 
  Zero transaction fees mean even tiny donations can add up to real and substantial help.
