
= render partial: 'welcome/navbar'

.container-fluid
  .row
    .col-sm-12
      - if @current_user
        %div{ 'ng-view' => true }
      - else
        %h1 Shark Bit
        %h3 Provide an alternative to predatory payday loan services.

        = render partial: 'welcome/problem'

        %a.active.btn.btn-large{ href: '/auth/facebook' } Login via Facebook to get started as a donor or sponsor
