.form
  %h3 Great, you have a person you want to help.
  .item
    %input{ type: 'text', placeholder: 'Enter the first name of the person' }
  .item
    %input{ type: 'text', placeholder: 'How much are you sponsoring for?' }

  %button{ 'ng-click' => 'sponsor()' } Sponsor them (and get help)
