.donate
  .loan{ 'ng-repeat' => 'loan in loans', 'ng-class' => '{ "odd" : $index%2==0, "even" : $index%2!=0 }' } 
    %h2 {{ loan.loanee }}
    .description{ 'ng-bind-html' => 'markified( loan.description )' }
    %progressbar{ value: 'loan.progress' }
