
%h4 The problem with Payday Loan services:

.item
  7B is spent on payday loans. According to a recent Pew Research report, adjusting for 
  several control factors, most borrowers use Payday loans. 

.item 
  Let's use Bitcoin to help people. Bitcoin is an open source peer-to-peer currency. 
  It has zero transaction fees, which stands in stark contrast to the Payday Loan companies which
  charge 10% - 20% for cashing a check.

.item 
  There are four identities in this system: the checker, the cashier, sponsors and the person in need.
  When someone in need has a check in hand, they can request 

%h4 How can you help? 

.item

  .item
    %a.btn.btn-large{ href: '/checker', role: "button" } Collect a check
    Take a check from someone who needs it, and then find others who 
    will provide part of the check value. 

    .count {{ needed.checkers }} checkers needed

  .item
    %a.btn.btn-large{ href: "/cashier", role: "button" } Act as a cashier
    Provide safety for the sponsor by offering to meet with someone in need and
    give them cash once all bitcoins have been collected for the entirety of the check.

    .count {{ needed.cashiers }} cashiers needed

  .item
    %a.btn.btn-large{ href: "/sponsor", role: "button" } Be a sponsor
    Offer a small amount of money to cashiers. Or, invite your friends to help out.
    
    .count {{ needed.sponsors }} sponsors needed

  .item
    %a.btn.btn-large{ href: "/invite", role: "button" } Invite friends
    Invite your friends from Facebook to help out.

