
%h4 How can you help? 

.item

  .item
    %a.active.btn-primary.btn.btn-large{ href: '/help', role: "button" } Get help
    %small.muted
      Need a PayDay loan? Join a community and tell them why you need a payday loan. Get immediate help.

  .item
    %a.active.btn-primary.btn.btn-large{ href: '/sponsor', role: "button" } Sponsor a loan
    %small.muted
      Offer to sponsor someone with a loan need.

  .item
    %a.active.btn-primary.btn.btn-large{ href: "/donate", role: "button" } Donate coverage to a loan
    %small.muted
      Offer a small amount of money to people in need.
      %span.badge{ 'ng-show' => 'needed.donations' } {{ needed.donations }} donation opportunities

  .item
    %a.active.btn-primary.btn.btn-large{ href: "/invite", role: "button" } Invite friends
    %small.muted
      Invite your friends from Facebook to help out.

