
%h4 The problem with Payday Loan services:

.item
  7B is spent on payday loans. According to a recent Pew Research report, adjusting for 
  several control factors, most borrowers use Payday loans. 

.item 
  Let's use Bitcoin to help people. Bitcoin is an open source peer-to-peer currency. 
  It has zero transaction fees, which stands in stark contrast to the Payday Loan companies which
  charge 10% - 20% for cashing a check.

.item 
  There are four identities in this system: the checker, the cashier, sponsors and the person in need.
  When someone in need has a check in hand, they can request 

%h4 How can you help? 

.item

  .item
    %a.active.btn-primary.btn.btn-large{ href: '/sponsor', role: "button" } Sponsor a loan
    %small.muted
      Offer to sponsor someone with a loan need.

  .item
    %a.active.btn-primary.btn.btn-large{ href: "/donate", role: "button" } Donate coverage to a loan
    %small.muted
      Offer a small amount of money to people in need.
      %span.badge {{ needed.donations }} donation opportunities

  .item
    %a.active.btn-primary.btn.btn-large{ href: "/invite", role: "button" } Invite friends
    %small.muted
      Invite your friends from Facebook to help out.

