.alert.alert-info{ 'ng-show' => 'message' } {{ message }}

.toinvite{ 'ng-hide' => 'inviting && !loading' }

  .causeChosen{ 'ng-show' => 'loan' }
    %a.btn.btn-large.btn-default.active{ 'ng-show' => 'selectedCount', 'ng-click' => 'open()' } Invite my {{ selectedCount }} friends to contribute
    .description Loan description: {{ loan.simple_description }}

  .none{ 'ng-hide' => 'loans' } No loans available right now, try again later.
  .recipient{ 'ng-show' => 'page && loans' }
    Choose a loan to sponsor: 
    %select{ 'ng-model' => 'loan', 'ng-options' => 'l.simple_description for l in loans' }

  .friends{ 'ng-show' => 'loan' }
  
    %input{ 'ng-model' => 'search', placeholder: 'Search by name...', 'ng-change' => 'searchByName()', 'clear-search' => true }
    %span.alphabet_pager                                                                                                
      %span{ 'ng-repeat' => 'item in alphabetPagerChunks' }                                                        
        %span{ 'ng-hide' => '0 == $index' } |
        %dd
          %a{ "ng-click" => 'jump(item.offset)' } {{item.link}}    
    %br
    .invitees{ 'ng-show' => 'selectedFriends' }
      {{ selectedFriends.length }} friends to be invited
    
    %span.friend{ 'ng-repeat' => 'friend in page' } 
      %img.profile_picture{ "ng:src" => 'https://graph.facebook.com/{{friend.id}}/picture', 'ng-click' => 'toggle(friend)', 'ng-class' => '{ "selected" : friend.selected, "unselected" : !friend.selected }' }
    
