@import "bootstrap"

.item
  padding: 1em

.count 
  background-color: #dfdfdf
  padding-top: 1em
  padding-bottom: 1em

.friend
  .unselected, .selected
    padding: 0.1em
  .unselected
    border: white 3px solid        
  .selected  
    border: red 3px solid

.sharkbitnav
  li
    list-style-type: none

.login
  padding-bottom: 2em


.preview
  background-color: #eee
  border: 1px solid red

.alphabet_pager
  dd
    display: inline-block

.loan
  padding: 1em

.odd 
  background-color: #ddd

.even
  background-color: white